@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=Righteous&display=swap');

$primaryColor: black;
$secondaryColor: blue;
$tertiaryColor : wheat;
$textColor: black;


body {

    font-family: 'Righteous', sans-serif;
    background-image: url(./gambar/Group4.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}
$container-max-width: (
  sm: 460px

);

.custom {
    .navbar-nav{
font-size: 20px;
margin-left: 10px;

    }

}
#navbarNav{
    .navbar-nav{
        .nav-item {
            .nav-link {
              color: $primaryColor;
              text-transform: uppercase;
              font-weight: 500;
              font-size: 20px;
              margin-left: 20px;
              &:hover {
                color: lighten($primaryColor , 50%);
              }
            }
          }
    }
  }
  .custom-section {
    margin-top: 11rem;
    margin-right: -20rem;
    h1 {
        font-size: 80px;
        font-weight: 900;
        
        font-family: 'EB Garamond', serif;
    }
  }

@media screen and (max-width: 600px) {
  *{
    padding: 0;
    margin: 0;
  }
    body {
      background-color: black;
      padding: 0;
      margin: 0;
        margin-bottom: 20rem;
        font-family: 'Righteous', sans-serif;
        background-image: url(./gambar/ganbar.png);
        // background-position:  right;
        background-repeat: no-repeat;
        position: relative;
        bottom: 5x;
        background-size: 55vmax;
        background-position-x: -120px;
        // height: 100vmax;
    }
    #navbarNav{
        .navbar-nav{
            .nav-item {
                .nav-link {
                
                  margin-left: -10px;
         
                  }
                }
              }
        }
        .custom-section {
            margin-top: 10rem;
           

            h1 {
                font-size: 60px;
                left: 2vh;
                font-weight: 1100px;
                padding-left: 5vh;
                white-space: nowrap;
                line-height: 1;
                
            }
            h2 {
                margin-top: 7rem;
                padding-left: 5rem;
                font-weight: 700;
                text-align: center;
                white-space: nowrap;
                line-height: 1;
                font-family: 'EB Garamond', serif;
            }
          }

          .costum {
            background-image: url(./gambar/gambar7.png);
          background-repeat: no-repeat;
          background-position-x: -20px;
          background-position-y: 30px;
          background-size: auto;
          height: 35rem;
          }
          .logo {
            height: 92pt;
          }
      
}